<!DOCTYPE html>
<html lang='pt-br' xmlns='http://www.w3.org/1999/xhtml'>

<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <meta charset='utf-8'>
    <title>Mensagem Portal</title>

</head>

<body style='padding-left: 100px;font-family: Arial; padding-right: 100px;'>
    <div>
        <table id='TabelaPrincipal' style='width: 100%; border: 1px solid lightgray;' cellspacing='0'>
            <tr style=' background-color: #376991; color: white;' align='center'>
                <td colspan='3'>
                    <h3 style='margin-top: 7px; margin-bottom: 7px;'>Mailing Comercial</h3>
                </td>
            </tr>
        </table>
        <br />
        <table id='EstadoTabela'
               style='width: 100%; margin-top: 25px; margin-bottom: 0px; border-bottom: 5px solid black;border-top: 6px solid black;'
               cellspacing='0'>
            <tr style='vertical-align: top;' align='center'>
                <td colspan='1' align='center'
                    style='font-weight:bold;font-size:20px; color: white; background-color: #ff0000;text-transform: uppercase;'>
                    CONTATOS #DataOntem - #DiaSemanaOntem
                </td>
            </tr>
        </table>
        <table id='EstadoTabela' style='width: 100%;' cellspacing='0'>
            <tr style='vertical-align: top;' align='center'>
                <td colspan='1' align='center' style='font-weight:bold;font-size:20px;background-color: #007bff; color: white;'>
                    LEADS | #CLO
                </td>
            </tr>
        </table>
        <table id='PrimeiraTabela' style='width: 100%;' cellspacing='0'>
            <tr style='vertical-align: top; background-color: #035277; color:white;' align='center'>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Razão Social
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Nome
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Última Observação
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Observaçâo Deste Contato
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Data Prox.
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;'>
                    Hora Prox.
                </td>
            </tr>
            #ContatoLeadsOntem
        </table>
        <table id='EstadoTabela' style='width: 100%;' cellspacing='0'>
            <tr style='vertical-align: top;' align='center'>
                <td colspan='1' align='center' style='font-weight:bold;font-size:20px; background-color: #007bff; color:white;'>
                    PROSPECTS | #CPO
                </td>
            </tr>
        </table>
        <table id='PrimeiraTabela' style='width: 100%;' cellspacing='0'>
            <tr style='vertical-align: top; background-color: #035277; color:white;' align='center'>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Razão Social
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Nome
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Última Observação
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Observaçâo Deste Contato
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Data Prox.
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;'>
                    Hora Prox.
                </td>
            </tr>
            #ContatoProspectsOntem
            </tr>
        </table>
        <table id='EstadoTabela' style='width: 100%;' cellspacing='0'>
            <tr style='vertical-align: top;' align='center'>
                <td colspan='1' align='center' style='font-weight:bold;font-size:20px; background-color: #007bff; color:white;'>
                    CLIENTES | #CCO
                </td>
            </tr>
        </table>
        <table id='PrimeiraTabela' style='width: 100%;' cellspacing='0'>
            <tr style='vertical-align: top; background-color: #035277; color:white;' align='center'>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Razão Social
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Nome
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Última Observação
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Observaçâo Deste Contato
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Data Prox.
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;'>
                    Hora Prox.
                </td>
            </tr>
            #ContatoClienteOntem
        </table>
        <table id='EstadoTabela'
               style='width: 100%; margin-top: 25px; margin-bottom: 0px; border-bottom: 5px solid black;border-top: 6px solid black;'
               cellspacing='0'>
            <tr style='vertical-align: top;' align='center'>
                <td colspan='1' align='center'
                    style='font-weight:bold;font-size:20px; color: white; background-color: #ff0000;text-transform: uppercase;'>
                    CONTATOS #DataHoje - #DiaSemanaHoje
                </td>
            </tr>
        </table>
        <table id='EstadoTabela' style='width: 100%;' cellspacing='0'>
            <tr style='vertical-align: top;' align='center'>
                <td colspan='1' align='center' style='font-weight:bold;font-size:20px;background-color: #007bff; color: white;'>
                    LEADS | #CLH
                </td>
            </tr>
        </table>
        <table id='PrimeiraTabela' style='width: 100%;' cellspacing='0'>
            <tr style='vertical-align: top; background-color: #035277; color:white;' align='center'>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Razão Social
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Nome
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Última Observação
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;'>
                    Observaçâo Deste Contato
                </td>
            </tr>
            #ContatoLeadsHoje
        </table>
        <table id='EstadoTabela' style='width: 100%;' cellspacing='0'>
            <tr style='vertical-align: top;' align='center'>
                <td colspan='1' align='center' style='font-weight:bold;font-size:20px; background-color: #007bff; color:white;'>
                    PROSPECTS | #CPH
                </td>
            </tr>
        </table>
        <table id='PrimeiraTabela' style='width: 100%;' cellspacing='0'>
            <tr style='vertical-align: top; background-color: #035277; color:white;' align='center'>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Razão Social
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Nome
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Última Observação
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;'>
                    Observaçâo Deste Contato
                </td>
            </tr>
            #ContatoProspectsHoje
        </table>
        <table id='EstadoTabela' style='width: 100%;' cellspacing='0'>
            <tr style='vertical-align: top;' align='center'>
                <td colspan='1' align='center' style='font-weight:bold;font-size:20px; background-color: #007bff; color:white;'>
                    CLIENTES | #CCH
                </td>
            </tr>
        </table>
        <table id='PrimeiraTabela' style='width: 100%;' cellspacing='0'>
            <tr style='vertical-align: top; background-color: #035277; color:white;' align='center'>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Razão Social
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Nome
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Última Observação
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;'>
                    Observaçâo Deste Contato
                </td>
            </tr>
            #ContatoClienteHoje
        </table>
    </div>
</body>
</html>